#allComplaints {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #allComplaints td, #allComplaints th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #allComplaints tr:nth-child(even){background-color: #f2f2f2;}
  
  #allComplaints tr:hover {background-color: #ddd;}
  
  #allComplaints th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3f51b5;
    color: white;
  }
